<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
  <!-- what is this supposed to be doing
    it's supposed to link to all of the songs by a particular artist
  , artist_path(artist)-->
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
  <% end %>
</ul>
